[Desktop Entry]
Encoding=UTF-8
Name=steaddcoin
Comment=steaddcoin P2P Cryptocurrency
Comment[fr]=steaddcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=steaddcoin, eşten eşe kriptografik sanal para birimi
Exec=steaddcoin-qt %u
Terminal=false
Type=Application
Icon=steaddcoin128
MimeType=x-scheme-handler/steaddcoin;
Categories=Office;Finance;
